---
- name: install packages
  become: yes
  become_user: root
  block:
    - name: apt
      apt:
        name: "{{ item }}"
        state: latest
      loop:
        - tmux

    - name: snap (classic)
      community.general.snap:
        classic: yes
        name:
          - ccls
          - node
